@media (min-width: 768px) and (max-width: 1200px) {
  .main-select-text > div {
    min-width: 0;
    min-height: 0;
    padding: 16%; }
    .main-select-text > div h3 {
      font-size: 23px; }

  .blog-box {
    margin-bottom: 10px; }

  .blog-box.change .blog-text {
    height: 87px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .menu .navbar-default .navbar-nav > li > a {
    padding: 0 30px; }

  .blog-box {
    margin-bottom: 15px; }

  .blog-text {
    padding: 10px; }
    .blog-text h3 {
      font-size: 16px;
      padding-left: 10px; }
    .blog-text .author {
      padding-left: 10px;
      font-size: 13px; }

  .instagram-cont > div {
    width: 50%;
    margin-bottom: 0; }
    .instagram-cont > div img {
      width: 100%; }
  .instagram-cont > div:nth-child(2n+1) {
    clear: left; }

  .footer-logo {
    width: auto;
    padding-right: 10px; }

  #main-selection {
    min-height: 0;
    height: auto !important;
    padding: 100px; }

  .main-select-wrap {
    padding: 100px 0; }

  #last-selection {
    height: auto !important; }

  .imageA img {
    height: 218px; } }
@media (max-width: 767px) {
  /*default nav**/
  .navbar-collapse {
    padding: 0 15px;
    box-shadow: none;
    border: none; }

  .logo-box .navbar {
    display: block; }

  .logo-box {
    position: relative;
    z-index: 3; }
    .logo-box .navbar-toggle {
      margin-right: 0; }

  #last-selection {
    height: auto !important;
    padding-left: 0;
    padding-right: 0; }

  .logo {
    float: left; }

  .navbar-header {
    float: right; }
    .navbar-header span {
      color: #fefefe;
      font-size: 40px; }
      .navbar-header span:before {
        top: 3px; }

  #second-menu .menu {
    float: none;
    max-width: 500px;
    margin: auto; }
  #second-menu .navbar-header span {
    font-size: 20px; }
  #second-menu .menu-mobile2 span::before {
    top: 5px; }
  #second-menu .menu-mobile2.collapsed span::before {
    top: 8px; }

  .menu {
    margin-top: 0; }
    .menu #bs-example-navbar-collapse-1 {
      z-index: 10;
      position: relative; }
      .menu #bs-example-navbar-collapse-1 ul {
        background: rgba(0, 0, 0, 0.6);
        padding: 20px 0 !important; }
    .menu .navbar-default .navbar-nav > li {
      display: block; }

  .intro-box {
    max-width: 300px;
    margin: 40px auto; }

  #header-block {
    background-position: center; }

  #main-selection {
    height: auto;
    padding: 80px 0; }

  .main-select-image {
    margin-bottom: 20px; }

  .blog-box {
    margin: 0 auto 20px;
    max-width: 500px; }

  .blog-image img {
    display: block;
    width: 100%;
    max-width: 100%; }

  .instagram-box {
    float: none;
    width: 100%;
    max-width: 500px;
    margin: auto; }
    .instagram-box img {
      width: 100%; }

  .privacy, .copyright-box {
    text-align: center;
    padding-bottom: 5px; }

  .footer-logo {
    max-width: 130px;
    margin: 20px auto; }

  .footer-menu ul {
    margin: 0;
    padding: 0; }

  .foot-one {
    float: left;
    width: 50%; }

  .foot-two:before {
    display: block;
    content: " ";
    clear: both;
    margin-bottom: 20px; }

  .intro-wrap {
    z-index: 2; }

  .main-select-wrap {
    padding: 100px 0; }

  .inner-image {
    margin-bottom: 30px; }
    .inner-image img {
      width: 100%; }

  .right-side {
    float: none; }

  .team-box-image img {
    width: 100%; } }
@media (max-width: 400px) {
  .main-select-text > div {
    min-width: 0;
    min-height: 0;
    padding: 16%; }
    .main-select-text > div h3 {
      font-size: 23px; }

  #second-menu .menu {
    float: none; }
    #second-menu .menu ul {
      float: none;
      text-align: left;
      margin-left: 0px; } }

/*# sourceMappingURL=media.css.map */
