.main-backgrond, #header-block, #main-selection, #last-selection, .tailor, .about-us, .team-page, .measure-section1 {
  height: 100%;
  min-height: 100%;
  position: relative; }

.flex-center, .main-selection-box, .main-select-text, .main-select-text > div, .instag-text, .team-text, .measure-section1, .ms-text {
  display: flex;
  align-items: center; }

/**BOOTSTRAP CSS OVERRIDE**/
.navbar-default {
  border-radius: 0;
  background: none;
  border: none !important; }

.nav .navbar-social > a {
  padding: 0; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: none; }

.navbar-collapse {
  padding: 0; }

.dropdown-menu {
  border: none;
  background-color: #ffef99;
  border-radius: 0;
  box-shadow: none;
  padding: 30px 0 10px; }

.navbar-nav {
  padding: 0 !important; }

.navbar {
  margin: 0; }

/**END BOOTSTRAP OVERRIDE**/
body, html {
  height: 100%;
  color: #fefefe;
  min-height: 100%; }

body {
  font: 300 16px/25px "Lato", sans-serif; }

h1 {
  font: 300 30px/40px "Lato", sans-serif;
  color: #fefefe;
  margin-top: 0;
  margin-bottom: 30px; }
  h1 span {
    border-bottom: 6px #bd8a2c solid;
    padding-bottom: 10px; }

#header-block {
  background-color: #000;
  min-height: 600px;
  position: relative; }

.logo-box .navbar {
  display: none; }

.logo {
  margin: auto;
  max-width: 100px; }

#menu-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden; }

.menu {
  margin-top: 17px; }
  .menu .navbar-default .navbar-nav {
    text-align: center;
    float: none; }
  .menu .navbar-default .navbar-nav > li > a {
    font: 15px/22px "Lato", sans-serif;
    color: #fefefe;
    padding-left: 42px;
    padding-right: 42px;
    text-transform: uppercase; }
    .menu .navbar-default .navbar-nav > li > a:hover span {
      border-bottom: 2px #bd8a2c solid; }
  .menu .navbar-default .navbar-nav > li {
    display: inline-block;
    float: none; }

#menu-wrap.active, #second-menu.active {
  visibility: visible;
  -webkit-transition: opacity 1s ease-in, visibility 1s ease-in;
  transition: opacity 1s ease-in, visibility 1s ease-in;
  opacity: 1; }

#second-menu.in {
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px #bd8a2c solid;
  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in; }

#second-menu {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  background: none;
  border: none; }
  #second-menu .menu {
    margin-top: 0; }
  #second-menu .logo {
    margin: 0; }
  #second-menu .logo-box .navbar, #second-menu .logo-box .navbar-header, #second-menu .logo-box .navbar-header > button {
    display: block; }
  #second-menu .navbar-toggle {
    display: block;
    margin-right: 0;
    padding-right: 0; }
  #second-menu .navbar-collapse.collapse {
    display: none !important; }
  #second-menu .navbar-nav > li {
    float: none; }
  #second-menu .navbar-header {
    margin-top: 20px; }
    #second-menu .navbar-header button span {
      color: #fefefe;
      display: block; }
      #second-menu .navbar-header button span:before {
        left: 0px;
        position: relative;
        position: absolute; }
  #second-menu .menu-mobile2.collapsed span {
    padding-left: 15px; }
    #second-menu .menu-mobile2.collapsed span:before {
      content: "\f20e";
      top: 6px;
      font-size: 30px; }
  #second-menu .menu-mobile2 span {
    padding-left: 10px; }
    #second-menu .menu-mobile2 span:before {
      content: "\f404";
      font-size: 37px;
      top: 3px; }
  #second-menu #bs-example-navbar-collapse-2 {
    padding-bottom: 50px;
    display: block !important;
    height: auto !important; }
  #second-menu .menu {
    float: right; }
    #second-menu .menu ul {
      float: left;
      text-align: left;
      margin-left: 100px; }
      #second-menu .menu ul li {
        display: block;
        font-family: "Ionicons";
        color: #fefefe;
        font-size: 18px;
        position: relative; }
        #second-menu .menu ul li:before {
          content: "\f3d1";
          position: absolute;
          left: 0;
          top: 12px; }
        #second-menu .menu ul li a {
          padding: 0 0 0 15px;
          font-size: 23px;
          font-weight: 300;
          line-height: 2.3; }
  #second-menu .collapse {
    visibility: hidden;
    opacity: 0; }
  #second-menu .collapse.in {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in, visibility 1s ease-in;
    transition: opacity 1s ease-in, visibility 1s ease-in; }

.header-wrap {
  position: relative;
  z-index: 2;
  height: 100%; }

.intro-wrap {
  position: absolute;
  width: 100%;
  bottom: 120px;
  z-index: 99;
  left: 0; }

.intro-box a {
  color: #fefefe;
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-bottom: 8px;
  text-decoration: none !important;
  line-height: 2.2;
  transition: color 0.7s ease-in; }
  .intro-box a span {
    position: relative;
    z-index: 1; }
  .intro-box a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    z-index: 0;
    width: 100%;
    height: 8px;
    -webkit-transition: height 0.5s;
    /* Safari */
    transition: height 0.5s;
    background: #bd8a2c; }
  .intro-box a:hover:after {
    height: 100%;
    background-color: #fff; }
  .intro-box a:hover {
    color: #000; }

.video-background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%; }

.scroll-down {
  bottom: 20px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }
  .scroll-down a {
    display: inline-block !important;
    max-width: 95px; }

#main-selection {
  background: url(../images/blockB-bg.jpg) no-repeat left top/cover;
  min-height: 900px;
  padding: 200px 0 150px; }

.main-selection-box {
  height: 100%; }

.main-select-box {
  font-size: 30px;
  color: #fefefe;
  font-family: "Lato", sans-serif; }

.main-select-image {
  position: relative; }
  .main-select-image .image-wrap {
    position: relative;
    z-index: 0; }
    .main-select-image .image-wrap .first-img {
      position: absolute;
      left: 0;
      top: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
      transition: opacity 0.8s ease-in, visibility 1s ease-in;
      opacity: 0; }
    .main-select-image .image-wrap .img-hover {
      visibility: visible;
      -webkit-transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
      transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
      opacity: 1; }
  .main-select-image:hover .first-img {
    visibility: visible;
    -webkit-transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
    transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
    opacity: 1; }
  .main-select-image:hover .img-hover {
    visibility: hidden;
    -webkit-transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
    transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
    opacity: 0; }

.main-select-text {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%; }
  .main-select-text > div {
    min-width: 316px;
    min-height: 309px;
    color: #fefefe;
    margin: auto;
    display: block;
    background: url(../images/main-selection.png) no-repeat left top/100% 100%;
    position: relative;
    top: 10px !important;
    opacity: 0; }
    .main-select-text > div h3 {
      text-align: center;
      margin: auto;
      font: 300 30px/35px "Lato", sans-serif; }
  .main-select-text:hover > div {
    display: flex;
    -webkit-transition: opacity 0.6s ease-in, top 0.6s ease-in;
    transition: opacity 0.6s ease-in, top 0.6s ease-in;
    opacity: 1;
    top: 0 !important; }

#last-selection {
  background: url(../images/blockC-bg.jpg) no-repeat left top/100% 100%;
  min-height: 100%;
  height: auto !important;
  padding: 170px 20px 0; }
  #last-selection h1 {
    color: #fefefe;
    font: 15px/20px "Lato", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px; }

.blog-image {
  position: relative;
  z-index: 0; }

.blog-box {
  position: relative;
  margin-bottom: 20px; }

.blog-box.change .blog-text {
  position: relative;
  height: 100px; }
.blog-box.change .white {
  background-color: #fff; }
  .blog-box.change .white h3 {
    color: #000000; }
.blog-box.change .brown {
  background-color: #bd8a2c; }
  .blog-box.change .brown .author {
    color: #000000; }

.blog-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 0 15px;
  background: rgba(0, 0, 0, 0.8);
  font-family: "Lato", sans-serif;
  color: #fefefe; }
  .blog-text h3 {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 0 30px;
    font-weight: 300;
    margin: 0; }
  .blog-text .author {
    color: #bd8a2c;
    font-size: 15px;
    padding-left: 30px; }

.instagram-box {
  float: left;
  width: 25%;
  position: relative;
  margin-bottom: 20px; }

.instag-img {
  position: relative;
  z-index: 0; }

.instag-text {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(189, 138, 44, 0.5);
  top: 0;
  color: #fff;
  font: 300 14px/20px "Lato", sans-serif;
  z-index: 1;
  text-align: center;
  padding: 0 2rem; }
  .instag-text .status {
    max-width: 80px;
    margin: auto;
    padding: 15px 0; }
    .instag-text .status span {
      display: block;
      font-size: 23px;
      height: 24px; }
    .instag-text .status .ion-ios-chatbubble-outline {
      font-size: 26px;
      margin-top: 0px; }

.video-cam {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  color: #fff; }

#footer {
  padding-top: 30px;
  font: 300 15px/22px "Lato", sans-serif;
  color: #fefefe;
  padding-bottom: 30px;
  position: relative;
  z-index: 2; }

.footer-contact address {
  text-transform: uppercase; }

.footer-logo {
  border-right: 4px #bd8a2c solid;
  width: 90%; }
  .footer-logo a {
    display: block; }

.social {
  padding: 20px 0; }
  .social a {
    display: inline-block;
    font-size: 20px;
    color: #fefefe;
    margin: 0 5px; }

.footer-menu ul li {
  list-style: none;
  margin: 0;
  padding: 0; }
.footer-menu a {
  display: block;
  color: #fefefe; }

.subscriber h1 {
  padding: 0;
  margin: 0; }
.subscriber .form-group input[type="text"] {
  border: 1px #fff solid;
  background: none;
  border-radius: 0;
  color: #fff;
  box-shadow: none !important; }
.subscriber .form-group input[type="submit"] {
  background: none;
  border: none;
  text-transform: uppercase;
  color: #fefefe;
  font-size: 20px; }
.subscriber .form-submit {
  text-align: right;
  font-size: 30px; }
  .subscriber .form-submit > div {
    float: right;
    position: relative; }
    .subscriber .form-submit > div input {
      position: relative;
      z-index: 1;
      padding-right: 30px; }
    .subscriber .form-submit > div span {
      position: absolute;
      right: 0;
      top: -3px;
      font-size: 30px;
      z-index: 0; }

#copyright {
  font: 12px/18px "Lato", sans-serif;
  color: #7b7b7b; }

.copyright-box {
  border-top: 1px #7b7b7b solid;
  padding: 10px 0 15px; }

.copyright-box a {
  font: 12px/18px "Lato", sans-serif;
  color: #7b7b7b;
  padding: 0 10px;
  display: inline-block; }
  .copyright-box a:last-child {
    padding-right: 0; }

.privacy {
  text-align: right; }

.padTop {
  padding-top: 350px; }

/**INNERPAGE**/
#second-menu.inner {
  visibility: visible;
  opacity: 1; }

.tailor, .about-us, .team-page {
  background: url(../images/image16.jpg) no-repeat left top/cover;
  height: auto;
  padding-top: 200px; }

.steps-box {
  margin-top: 30px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .steps-box ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .steps-box ul li {
      background: url(../images/arrow.png) no-repeat left 7px;
      margin-left: 0;
      padding-left: 20px;
      margin-bottom: 15px; }
  .steps-box h3 {
    font: 16px/25px "Lato", sans-serif;
    margin-bottom: 0;
    padding-bottom: 0; }

.right-side {
  float: right; }

.about-us {
  background: url(../images/image20.jpg) no-repeat left top/cover;
  padding-top: 200px; }
  .about-us h1 {
    text-align: center;
    margin-bottom: 50px; }

.body h1 {
  text-align: center;
  margin-bottom: 50px; }

.scroll-box {
  text-align: center;
  padding: 50px 0; }
  .scroll-box a {
    display: inline-block;
    color: #fff;
    background: url(../images/scroll.png) no-repeat center;
    line-height: 4;
    text-decoration: none !important;
    font-size: 12px; }

.team-box {
  position: relative;
  margin-bottom: 25px; }

.team-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  color: #fefefe;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase; }
  .team-text h1 {
    font-size: 30px;
    margin: 0;
    padding: 0; }
  .team-text p {
    font-weight: bold; }
  .team-text:after, .team-text:before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    background-color: rgba(189, 138, 44, 0.2);
    height: 0;
    -webkit-transition: height 0.3s;
    transition: height 0.3s; }
  .team-text:before {
    top: 0; }
  .team-text:hover:after, .team-text:hover:before {
    height: 50%;
    -webkit-transition: height 0.3s;
    transition: height 0.3s; }
  .team-text > div {
    margin: auto;
    position: relative;
    z-index: 2;
    top: 30px;
    max-width: 200px;
    visibility: hidden;
    opacity: 0; }
  .team-text:hover > div {
    visibility: visible;
    opacity: 1;
    top: 0;
    -webkit-transition: opacity 0.8s ease-in, visibility 0.8s ease-in, top 0.8s ease-out;
    transition: opacity 0.8s ease-in, visibility 0.8s ease-in, top 0.8s ease-out; }

/**starte here**/
.measure-section1 {
  background: url(../images/image27.jpg) no-repeat center/cover; }
  .measure-section1 h1 {
    margin-bottom: 10px; }

.measure-text {
  text-align: center; }

.ms-box {
  position: relative;
  margin-bottom: 20px; }

.ms-box.a1 {
  overflow: hidden;
  margin-bottom: 16px; }

.measure-section2 {
  min-height: 900px;
  height: auto !important; }

.ms-image {
  position: relative; }

.ms-box.change {
  margin-bottom: 24px; }

.ms-text {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 2; }
  .ms-text:after, .ms-text:before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 0;
    -webkit-transition: height 0.3s;
    transition: height 0.3s; }
  .ms-text:before {
    top: 0; }
  .ms-text:hover:after, .ms-text:hover:before {
    height: 50%;
    -webkit-transition: height 0.3s;
    transition: height 0.3s; }
  .ms-text > div {
    margin: auto;
    position: relative;
    z-index: 2;
    top: 30px;
    max-width: 200px;
    visibility: hidden;
    opacity: 0;
    font-size: 30px;
    color: #fefefe; }
  .ms-text:hover > div {
    visibility: visible;
    opacity: 1;
    top: 0;
    -webkit-transition: opacity 0.8s ease-in, visibility 0.8s ease-in, top 0.8s ease-out;
    transition: opacity 0.8s ease-in, visibility 0.8s ease-in, top 0.8s ease-out; }

.measure-section3-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 280px;
  z-index: 1;
  background: url(../images/image35.jpg) no-repeat top left/cover; }

.measure-section3 .main {
  position: relative;
  z-index: 3;
  padding-top: 120px;
  text-align: center; }
  .measure-section3 .main h1 {
    margin-bottom: 50px;
    position: relative; }
    .measure-section3 .main h1 span {
      border: none; }
    .measure-section3 .main h1:after {
      position: relative;
      width: 100px;
      margin: auto;
      content: "";
      display: block;
      background-color: #bd8a2c;
      height: 7px; }

.measure-section3 {
  height: auto !important; }

.subscriber h1 {
  margin-bottom: 0 !important;
  text-align: left !important; }

@media (min-width: 768px) and (max-width: 1200px) {
  .main-select-text > div {
    min-width: 0;
    min-height: 0;
    padding: 16%; }
    .main-select-text > div h3 {
      font-size: 23px; }

  .blog-box {
    margin-bottom: 10px; }

  .blog-box.change .blog-text {
    height: 87px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .menu .navbar-default .navbar-nav > li > a {
    padding: 0 30px; }

  .blog-box {
    margin-bottom: 15px; }

  .blog-text {
    padding: 10px; }
    .blog-text h3 {
      font-size: 16px;
      padding-left: 10px; }
    .blog-text .author {
      padding-left: 10px;
      font-size: 13px; }

  .instagram-cont > div {
    width: 50%;
    margin-bottom: 0; }
    .instagram-cont > div img {
      width: 100%; }
  .instagram-cont > div:nth-child(2n+1) {
    clear: left; }

  .footer-logo {
    width: auto;
    padding-right: 10px; }

  #main-selection {
    min-height: 0;
    height: auto !important;
    padding: 100px; }

  .main-select-wrap {
    padding: 100px 0; }

  #last-selection {
    height: auto !important; }

  .imageA img {
    height: 218px; }

  /*new**/
  .measure-section2 {
    min-height: 100%;
    padding-bottom: 100px; }

  .measure-section3-image {
    height: 280px; } }
@media (max-width: 767px) {
  /*default nav**/
  .navbar-collapse {
    padding: 0 15px;
    box-shadow: none;
    border: none; }

  .logo-box .navbar {
    display: block; }

  .logo-box {
    position: relative;
    z-index: 3; }
    .logo-box .navbar-toggle {
      margin-right: 0; }

  #last-selection {
    height: auto !important;
    padding-left: 0;
    padding-right: 0; }

  .logo {
    float: left; }

  .navbar-header {
    float: right; }
    .navbar-header span {
      color: #fefefe;
      font-size: 40px; }
      .navbar-header span:before {
        top: 3px; }

  #second-menu .menu {
    float: none;
    max-width: 500px;
    margin: auto; }
  #second-menu .navbar-header span {
    font-size: 20px; }
  #second-menu .menu-mobile2 span::before {
    top: 5px; }
  #second-menu .menu-mobile2.collapsed span::before {
    top: 8px; }

  .menu {
    margin-top: 0; }
    .menu #bs-example-navbar-collapse-1 {
      z-index: 10;
      position: relative; }
      .menu #bs-example-navbar-collapse-1 ul {
        background: rgba(0, 0, 0, 0.6);
        padding: 20px 0 !important; }
    .menu .navbar-default .navbar-nav > li {
      display: block; }

  .intro-box {
    max-width: 300px;
    margin: 40px auto; }

  #header-block {
    background-position: center; }

  #main-selection {
    height: auto;
    padding: 80px 0; }

  .main-select-image {
    margin-bottom: 20px; }

  .blog-box {
    margin: 0 auto 20px;
    max-width: 500px; }

  .blog-image img {
    display: block;
    width: 100%;
    max-width: 100%; }

  .instagram-box {
    float: none;
    width: 100%;
    max-width: 500px;
    margin: auto; }
    .instagram-box img {
      width: 100%; }

  .privacy, .copyright-box {
    text-align: center;
    padding-bottom: 5px; }

  .footer-logo {
    max-width: 130px;
    margin: 20px auto; }

  .footer-menu ul {
    margin: 0;
    padding: 0; }

  .foot-one {
    float: left;
    width: 50%; }

  .foot-two:before {
    display: block;
    content: " ";
    clear: both;
    margin-bottom: 20px; }

  .intro-wrap {
    z-index: 2; }

  .main-select-wrap {
    padding: 100px 0; }

  .inner-image {
    margin-bottom: 30px; }
    .inner-image img {
      width: 100%; }

  .right-side {
    float: none; }

  .team-box-image img {
    width: 100%; }

  .measure-section3-image {
    height: 220px; }

  .ms-box img {
    width: 100%; } }
@media (max-width: 400px) {
  .main-select-text > div {
    min-width: 0;
    min-height: 0;
    padding: 16%; }
    .main-select-text > div h3 {
      font-size: 23px; }

  #second-menu .menu {
    float: none; }
    #second-menu .menu ul {
      float: none;
      text-align: left;
      margin-left: 0px; } }

/*# sourceMappingURL=style.css.map */
