/*
Theme Name: Baggi
Theme URI: 
Author: Cres Jie Labasano
Author Email: cresjie@gmail.com
Author URI: https://github.com/cresjie
Version: 1.0
Description: This theme was bought and been sliced into wordpress theme
*/
.navbar-default{
	background: none !important;
}
.menu .navbar-default .navbar-nav > li > a:hover{
	color: #fefefe;
}
.blog-image{
	overflow: hidden;
}
.blog-box.change .white h3 a,
.blog-box.change .brown .author a{
	color: #000000;
}
.blog-text h3 {
	padding: 0 30px 0 30px;
	margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.blog-text .author a{
	margin: 0;
}
.blog-text .author{
  	padding-left: 30px;
}
.page-template-default #second-menu{
	visibility: visible;
  opacity: 1; 
}
.tailor, .about-us, .team-page, .page-body {
	background-color: #000; 
	background: url(images/image16.jpg) no-repeat left top/cover;
	height: auto;
	padding-top: 200px;	
}
.subscribe-text{
    font: 15px/20px "Lato", sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}
.main-select-image h3 a,
.last-selection h3 a{
  color: #fff;
  text-decoration: none;
}
.blog-image-1{
  max-height: 310px;
}
.blog-image-3,
.blog-image-4{
  max-height: 190px;
}
.video-black-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}
